#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  right: 3%;
  bottom: 30px;
  font-size: 17px;
}
#snackbar1 {
  visibility: hidden;
  min-width: 250px;
  margin-left: 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 3%;
  bottom: 30px;
  font-size: 17px;
}
#snackbar_login {
  visibility: hidden;
  min-width: 250px;
  max-height: 55px;
  margin-left: 0;
  background-color: #cc0000;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  right: 3%;
  top: 30px;
  font-size: 17px;
  float:right;
}

#snackbar_login.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein, fadeout;
  animation: fadein, fadeout;
}
#snackbar1.show {
  visibility: visible;
  -webkit-animation: fadein, fadeout;
  animation: fadein, fadeout;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}